  <!-- start content head -->
  <div class="head">
    <!-- head top -->
    <div class="top">
      <div class="left">
        <button id="off" class="btn btn-info hide"><i class="fa fa-align-left"></i></button>
        <button id="on" class="btn btn-info"><i class="fa fa-bars"></i></button>
        <!--<button class="btn btn-info hidden-xs-down"><i class="fa fa-expand-arrows-alt"></i></button>-->
        <button class="btn btn-info hidden-xs-down" onClick="location.href='/'"><i class="fa fa-home"></i>Back Home</button>
      </div>
      <div class="right">
        <button class="btn btn-primary hidden-xs-down">흡연구역 등록하기</button>
        <button class="btn btn-primary hidden-xs-down">단속구역 등록하기</button>
        <button class="btn btn-success hidden-xs-down"><i class="fa fa-envelope "></i>문의사항</button></button>
        <!--<button class="btn btn-info hidden-xs-down"><i class="fa fa-bell"></i></button>-->
        <!--<button class="btn btn-info hidden-xs-down"><i class="fa fa-envelope"></i></button>-->

        <div class="dropdown">
                <!--<@% if # 로그인이 되어있다면 아래 2개가 뜨게끔 처리하기 %>-->
          <button class="btn btn-info dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ㅋㅋㅋ</button>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
           <!--<a class="dropdown-item" href="#">내 계정</a>-->
           <!--<a class="dropdown-item" href="#">Log out</a>-->
           
                <!--<@% if # 로그인이 되어있지 않다면 %>-->
                           <!--<a class="dropdown-item" href="#">Log out</a>-->
         </div>
        </div>
      </div>
    </div>
    <!-- end head top -->
